:root {
  --bg-color-light: #f8eacc;
  --text-color-light: #333;
  --bg-color-dark: #041E42;
  --text-color-dark: #f5f5f5;
  --btn-bg-light: #e0e0e0;
  --btn-bg-dark: #444;
  --btn-hover-light: #ccc;
  --btn-hover-dark: #555;
}
*{
  font-family:Arial, Helvetica, sans-serif;
}
body.light-mode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

body.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}


.toggle-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 25px;
  border-radius: 25px;
  background-color: var(--btn-bg-light);
  position: relative;
  transition: background-color 0.3s ease;
}

.switch.dark {
  background-color: var(--btn-bg-dark);
  border: 1px solid white;
}

.switch::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
}

.switch.dark::before {
  left: calc(100% - 22px);
}

.switch svg {
  color: var(--text-color-light);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.switch.dark svg {
  color: var(--text-color-dark);
}

.counter-container {
  background-color: #fdffab;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

body.dark-mode .counter-container {
  background-color: #393e46;
  color: #f5f5f5;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e91e63;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}



.subtract-btn {
  background-color: #f44336;
}

.add-btn {
  background-color: #4caf50;
}

.counter-value {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .app-container {
    padding: 10px;
  }

  .counter-container {
    width: 100%;
    padding: 15px;
  }

  .btn {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  .counter-value {
    font-size: 1.2rem;
  }

  .dark-mode-toggle {
    top: 5px;
    right: 5px;
  }

  .switch {
    width: 55px;
    height: 20px;
  }

  .switch::before {
    width: 16px;
    height: 16px;
  }

  .switch svg {
    font-size: 1rem;
  }
}
